body {
    padding: 0 5%;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    color: rgb(34, 34, 34);
}

nav {
    float: right;
    width: 200px;   
}

nav > ul > li {
    list-style-type: none;
    
}

nav > ul > li > a {
    margin: 10px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(34, 34, 34);
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}

nav > ul > li > a:hover {
    color: rgb(230, 230, 230);
    background-color: rgb(34, 34, 34);
    box-shadow: black 1px 2px 5px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: rgb(230, 230, 230);
}

th, td {
    padding: 5px;
    text-align: left;
}

tr:nth-child(even){
    background-color: rgb(230, 230, 230);
}




